---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Posts from "@/components/Posts.astro";
import SeoPage from "@/components/SeoPage.astro";
import SocialLinks from "@/components/SocialLinks.astro";
---


<BaseLayout>
  <SeoPage slot="head" title="zine: burial at sea" />
  <div>
    <h2 class="mb-3 text-4xl font-bold text-balance">zine: burial at sea</h2>
   <section class="prose">
    <center><img src="/public/content/files/2025/02/burialatsea.png" alt="A distorted black and white image of a woman extending her arms out to a storming sea is captioned Burial at Sea: Trans Gothic and Tian Guan Ci Fu"></center>
    
    <p>
      <blockquote> In the simplest terms, this story can be read as a gothic triangle of struggle, attachment, and desire between the ingenue Shi Qingxuan (a prototypical gothic heroine), the predatory guardian Shi Wudu (reminiscent of Roderick Usher, among others), and the outsider He Xuan (a Byronic hero by anyone’s measure.) A patriarch exerts control over the sexuality of a lesser status kin member, until this control is challenged by a dark stranger. This stranger represents the possibility of external threat, but in fact provides the possibility of a liberatory escape from the constraints of The Family, until being revealed in the end to be the violent realization of that potential danger. Meaty enough, but pretty straightforward, and not the kind of thing that would motivate me to write a little book about it. There are some wrinkles here. Wrinkles....... of GENDER.</blockquote></p>
      
      <p>first available <a href="https://durandal.bigcartel.com/product/burial-at-sea">on bigcartel</a>, the pdf is now free, forever: <strong><a href="/public/content/files/2025/02/burial-at-sea-print-proof-final---web.pdf">DOWNLOAD HERE</a></strong>

    <p>the essay zine comes with a bonus mini accompaniment moodboard thing, which can either be viewed as a pdf or, ideally, printed as a single-page folding zine to be assembled with <a href="https://austinkleon.com/2020/03/04/how-to-make-a-zine-from-a-single-sheet-of-paper/">this method</a>:</p>

    <ul>
        <li><a href="/public/content/files/2025/02/moodboard-zine-foldable---shareable.pdf">moodboard zine - foldable</a></li>
        <li><a href="/public/content/files/2025/02/moodboard-zine-digital---shareable.pdf">moodboard zine - digital</a></li>
    </ul>

    <p>enjoy.</p></section>
  </div>
</BaseLayout>
