<section class="prose">
  <p>I write, and write about, queer speculative fiction.</p>
  <p>To get in touch about collaboration or guest writing opportunities, <a href="mailto:roland.lennox@pm.me">drop me a line</a>.</p>
  <p>Note that newsletter content is separate from blog posts, and tends toward the messy/conversational. I talk a lot about music and food.</p>
 
  <h1 class="mt-8 mb-3 text-lg font-bold">Zines in which my words appear:</h1>
  <ul>
    <li><a href="https://durandal.blog/zine-burial-at-sea/">burial at sea: trans gothic and <em>tian guan ci fu</em></a></li>
    <li><a href="https://loglady.gumroad.com/l/t4tzine">trans fic by and for trans friends</a> (expanding on the Fanworks 2023 panel)</li> 
    <li><a href="https://longposter.neocities.org/yaoizine2.pdf">yaoi zine 2: the anal/ysis issue</a></li>
    <li><a href="https://longposter.neocities.org/yurizine.pdf">yuri zine</a></li>
  </ul>
</section>
