<section class="prose">

  <img src="/critics.png" alt="twitter screenshot. tweet #1 reads, 'critics say...' what do the lovers say. it is quote retweeted with the comment 'good critics some of the only real lovers left but ok'">

  <p>my name is roland. i write, and write about, queer speculative fiction, as well as fan culture, vintage anime, horror, ttrpgs, and pipe organs.</p>

</section>
