<section class="prose">
  <p>my name is roland. i write, and write about, queer speculative fiction, as well as fan culture, horror, ttrpgs, and pipe organs.</p>
  <p>i also have a <a href="https://buttondown.com/voxceleste">newsletter</a>, which tends toward the messy/conversational (mainly music and food.)</p>
  <p>to chat about collaboration or guest writing, <a href="mailto:roland.lennox@pm.me">drop me a line</a>.</p>

  <img src="/critics.png" alt="twitter screenshot. tweet #1 reads, 'critics say...' what do the lovers say. it is quote retweeted with the comment 'good critics some of the only real lovers left but ok'">

  <h1 class="mt-8 mb-3 text-lg font-bold">zines in which my words appear:</h1>
  <ul>
    <li><a href="/zine-burial-at-sea/">burial at sea: trans gothic and <em>tian guan ci fu</em></a></li>
    <li><a href="https://loglady.gumroad.com/l/t4tzine">trans fic by and for trans friends</a> (expanding on the Fanworks 2023 panel)</li> 
    <li><a href="https://longposter.neocities.org/yurizine.pdf">yuri zine</a></li>
    <li><a href="https://longposter.neocities.org/yaoizine2.pdf">yaoi zine 2: the anal/ysis issue</a></li>
  </ul>

   <img src="/haman.gif" alt="gif of haman karn, a magenta-haired gundam character, first smiling cutely in a chibi form and then laughing with increasing derangement levels">
  
</section>
